body {
    background-color: #151515;
}

#svgCell {
    position: absolute;
    width: 620px;
}

#velocityCell {
    position: absolute;
    left: 627px;
    width: 315px;
    height: 365px;
}

#histogramCell {
    position: absolute;
    left: 949px;
    width: 315px;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #b4b4b4;
    border-color: #b4b4b4;
}

.btn-dark:hover, .btn-dark:active {
    background-color: #40A8C4;
    border-color: #40A8C4;
}

#resetButton {
    position: absolute;
    display: inline;
    padding: 4px 8px;
    top: 560px;
    left: 957px;
    z-index: 100;
}