body {
    background-color: #151515;
}

#audioCell {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 1262px;
    height: 100px;
    background-color: #28292d;
    border: 1px #28292d solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000000;
}

#midiDisplayCell {
    position: absolute;
    top: 117px;
    left: 7px;
    width: 1262px;
    height: 130px;
    background-color: #28292d;
    border: 1px #28292d solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000000;
}

#svgCell {
    position: absolute;
    top: 257px;
    left: 7px;
    width: 622px;
    height: 352px;
    background-color: #28292d;
    border: 1px #28292d solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000000;
}

#velocityCell {
    position: absolute;
    top: 257px;
    left: 641px;
    width: 310px;
    height: 352px;
    background-color: #28292d;
    border: 1px #28292d solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000000;
}

#histogramCell {
    position: absolute;
    top: 257px;
    left: 962px;
    width: 310px;
    height: 352px;
    background-color: #28292d;
    border: 1px #28292d solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000000;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #b4b4b4;
    border-color: #b4b4b4;
}

.btn-dark:hover, .btn-dark:active {
    background-color: #40A8C4;
    border-color: #40A8C4;
}

#resetButton {
    position: absolute;
    display: inline;
    padding: 4px 8px;
    top: 562px;
    left: 972px;
    z-index: 100;
    border: 1px #28292d solid;
    border-radius: 8px;
}